**/lua/shared/Translate/EN/*.txt encoding=utf-8
**/lua/shared/Translate/FR/*.txt encoding=windows-1252
**/lua/shared/Translate/IT/*.txt encoding=windows-1252
**/lua/shared/Translate/UA/*.txt encoding=windows-1251
