**/Translate/AR/*.txt encoding=windows-1252
**/Translate/CA/*.txt encoding=iso-8859-15
**/Translate/CH/*.txt encoding=utf-8
**/Translate/CN/*.txt encoding=utf-8
**/Translate/CS/*.txt encoding=windows-1250
**/Translate/DA/*.txt encoding=windows-1252
**/Translate/DE/*.txt encoding=windows-1252
**/Translate/EN/*.txt encoding=utf-8
**/Translate/ES/*.txt encoding=windows-1252
**/Translate/FI/*.txt encoding=windows-1252
**/Translate/FR/*.txt encoding=windows-1252
**/Translate/HU/*.txt encoding=windows-1250
**/Translate/ID/*.txt encoding=utf-8
**/Translate/IT/*.txt encoding=windows-1252
**/Translate/JP/*.txt encoding=utf-8
**/Translate/KO/*.txt encoding=utf-16
**/Translate/NL/*.txt encoding=windows-1252
**/Translate/NO/*.txt encoding=windows-1252
**/Translate/PH/*.txt encoding=utf-8
**/Translate/PL/*.txt encoding=windows-1250
**/Translate/PT/*.txt encoding=windows-1252
**/Translate/PTBR/*.txt encoding=windows-1252
**/Translate/RO/*.txt encoding=utf-8
**/Translate/RU/*.txt encoding=windows-1251
**/Translate/TH/*.txt encoding=utf-8
**/Translate/TR/*.txt encoding=windows-1254
**/Translate/UA/*.txt encoding=windows-1251